<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>URL Short</h1>
  <table>
    <tr>
      <th>긴 url</th>
      <th>짧은 url</th>
    </tr>
    <% urls.forEach(urlItem => { %>
    <tr>
      <td><%= urlItem.longUrl %></td>
      <td><%= urlItem.slug %></td>
    </tr>
    <%}) %>
  </table>
</body>
</html>